{% extends "base.html" %}

{% block title %}
    Generate Password - Secure Password Manager
{% endblock %}

{% block content %}

    <h1>Secure Password Generator</h1>

    <p>
        Your generated password:
    </p>

    <input
        type="text"
        value="{{ password }}"
        readonly
    >

    <p>
        <a href="{{ url_for('generate_password') }}">
            Generate Another Password
        </a>
    </p>

    <p>
        <a href="{{ url_for('add_credentials') }}">
            Add a Credential
        </a>
    </p>

    <p>
        <a href="{{ url_for('dashboard') }}">
            Return to Dashboard
        </a>
    </p>

{% endblock %}